*{
    font-family: "Comic Sans MS", cursive, sans-serif;
}

.filter-bar{
    background-color: #ef816c;
    height: 5vh;
    display: flex;
    flex-direction: row;
}
.filter-bar > li{
  width: 80%;
  height: 5vh;
  font-size: 5px;
  align-items: center;
  margin-left: 10px;
  list-style-type: none;
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery img {
    margin: 15px;
    object-fit: cover;
    border-radius: 10px;
    transition: 0.3s;
    width: 150px;
    height: 150px;
}

.gallery img:hover {
    transform: scale(1.1);
}
#canvas {
  border: 3px solid blueviolet;
  flex-direction: row;
  width: 100%;
  flex: 1;
}

.btn {
  width: 60px;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  height: 60px;
  flex-direction: column;
  display: inline-flex;
  /* padding: 10px; */
  border-radius: 12px;
  background-color: #ffffff
}
.controls {
  background-color: #e3e3e3;
  flex: 1;
  /* display: grid;
  grid-template-columns: repeat(2, 1fr); */
}
.label {
  height: 35px;
  width: 35px;
}

#font-color {
  display: none;
}

#txtStroke {
  display: none;
}


/* //////////////nav bar///////////// */









/* ////////////////////////helpers///////////////// */
/* ///////////////*****helpers *******/

.flex {
  display: flex;
}

.align-center {
  align-content: center;
}

.space-between {
  justify-content: space-between;
}
.clean-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
